{% extends "base.html" %}

{% block app_content %}
    <h1>Logs</h1> <br>
    <p>
        Update log (note, green is easily implementable, blue will take more time, and red is for critical fixes):
    </p>
    <ul>
        <li>Login interface fixed</li>
        <li>Error handling internally</li>
        <li>Bot set up to receive errors</li>
        <li><span style='color:rgb(235, 5, 5);'>Add image rating system</span></li>
        <li><span style='color:rgb(235, 5, 5);'>Fix data on database</span></li>
        <li><span style='color:rgb(0, 134, 22);'>Update home page</span></li>
        <li><span style='color:rgb(0, 134, 22);'>Clean up profiles</span></li>
        <li><span style='color:rgb(9, 0, 134);'>Display ratings</span></li>
        <li><span style='color:rgb(0, 134, 22);'>Request notes</span></li>
    </ul>
    <p>Update pending below: </p>
    <img  src="{{ url_for('static', filename='cat.jpg') }}" alt='Image of Cat'>
{% endblock %}